NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-key-here

SUPABASE_SECRET_KEY=your-secret-key-here
SCRAPER_CRON_SCHEDULE=0 */1 * * * # every hour
